@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@import "tailwindcss";

body {
  font-family: "Vazirmatn", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (max-width: 768px) {
  .image-scale-mobile {
    object-fit: fill;
    transform-origin: center;
  }
}
/* Glowing background effect */
.glowing-bg {
  background-color: #0b0f19;
  background-image: radial-gradient(at 0% 0%, hsla(216, 73%, 51%, 0.2) 0, transparent 50%),
                    radial-gradient(at 100% 0%, hsla(168, 70%, 50%, 0.2) 0, transparent 50%),
                    radial-gradient(at 50% 100%, hsla(276, 75%, 55%, 0.1) 0, transparent 50%);
}